*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.formularios{
    display: flex;
    justify-content: center;
    gap: 20px; 
}
.form01{    
    text-align: center;
    box-sizing: border-box;
    padding: 30px;
    background-color: #B6DF84;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);;
}
.form01 .infoCliente #name{
    margin-top: 10px;
    padding: 3px;
    border: none;
    background-color: #F08EBD;
    border-radius: 10px;
}
.form01 .infoCliente #email{
    padding: 3px;
    border: none;
    background-color: #F08EBD;
    border-radius: 10px;
}
input::placeholder{
    color: black;
}
textarea::placeholder{
    color: black;
}
.form01 #mensagem{
    margin-top: 10px;
    padding: 5px;
    width: 350px;
    height: 80px;
    border: none;
    background-color: #F08EBD;
    border-radius: 10px;
}
#btn{
    color: white;
    margin-top: 5px;
    padding: 5px;
    width: 350px;
    border-radius: 10px;
    border: none;
    background-color: #3E7FFF;
    transition: all 0.5s;
}
#btn:hover{
    background-color: #0338a3;
}
.form02{
    text-align: center;
    box-sizing: border-box;
    padding: 50px;
    background-color: #B6DF84;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);;
}
.form02 #email{
    padding: 3px;
    border: none;
    background-color: #F08EBD;
    border-radius: 10px;
    width: 350px;
}
#btn2{
    color: white;
    margin-top: 5px;
    padding: 5px;
    width: 350px;
    border-radius: 10px;
    border: none;
    background-color: #3E7FFF;
    transition: all 0.5s;
}
#btn2:hover{
    background-color: #0338a3;
}